<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccessKey</key>
	<string>70JVSFgj47Z68ZHj45z8g8geVTLXEKJpcsY78c5mY6w</string>
	<key>SecretKey</key>
	<string>DL-ZByW9gnfeaU30bxXJ-hd9rW30tvO0tsnyYELyTuQ</string>
</dict>
</plist>
